body{
    background-color: #fff;
    font-size: 18px;
}


.mainNav{
    margin: 0 auto;
}

.mainNav__links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none;
}

.mainNav__links-item{
    margin: 0 20px;
    padding: 10px;
    text-decoration: none;
}